$display: flex grid none block inline-block;
$layout-values: flex-start, flex-end, center, space-between, space-around;

@each $val in $display {
  .d-#{$val} {
    display: $val;
  }
}

// justify content classes
@each $val in $layout-values {
  .justify-#{$val} {
    justify-content: $val;
  }
}

.rounded {
  border-radius: 90px;
}

.container {
  width: 90%;
  max-width: 410px;
  margin-inline: auto;
}
