@use "sass:math";
.card {
  background: linear-gradient(180deg, #1f2630 0%, #171e28 100%);
  border-radius: 30px;

  &[data-type="normal"] {
    display: none;
    &.active {
      display: block;
      padding: math.div(24rem, 16) math.div(20rem, 16) math.div(32rem, 16)
        math.div(23rem, 16);
      @include sm {
        padding: math.div(32rem, 16);
      }
    }
  }
  &[data-type="thank you"] {
    display: none;
    &.active {
      display: block;
      padding: math.div(35rem, 16) math.div(26rem, 16) math.div(41rem, 16)
        math.div(27rem, 16);
      @include sm {
        padding: math.div(44rem, 16) math.div(36rem, 16) math.div(50rem, 16)
          math.div(27rem, 16);
      }
      text-align: center;
    }
  }
  &__star {
    height: 38px;
    aspect-ratio: 1;
    padding: math.div(12rem, 16) math.div(10rem, 16);
    background-color: #262f38;
    @include sm {
      height: 48px;
      padding: 1rem;
    }
  }
  &__header {
    padding-top: 1.25rem;
    padding-bottom: 2rem;
    @include sm {
      padding-top: 2rem;
      padding-bottom: math.div(30rem, 16);
    }
    & h2 {
      color: $white;
      font-size: 1.5rem;
      letter-spacing: 0.01em;
      @include sm {
        font-size: math.div(28rem, 16);
      }
    }
    & p {
      color: $light-grey;
      font-weight: 400;
      font-size: math.div(14rem, 16);
      line-height: 150%;
      padding-top: math.div(12rem, 16);
      @include sm {
        font-size: math.div(15rem, 16);
        padding-top: math.div(11rem, 16);
      }
    }
  }
  &__rating {
    cursor: pointer;
    height: 38px;
    aspect-ratio: 1;
    background-color: #262f38;
    place-items: center;
    transition: $transition;
    @include sm {
      height: 48px;
    }
    &.active {
      background-color: $light-grey;
      color: $white;
    }
  }
  &__button {
    margin-top: math.div(26rem, 16);
    @include sm {
      margin-top: math.div(34rem, 16);
    }
    & button {
      width: 100%;
      height: 45px;
      border: none;
      transition: $transition;
      cursor: pointer;
      font-size: math.div(14rem, 16);
      text-transform: uppercase;
      letter-spacing: 0.125em;
      @include sm {
        font-size: math.div(15rem, 16);
      }
    }
  }
  //   second card
  &__image {
    & img {
      height: 95px;
      width: auto;
      @include sm {
        height: 108px;
      }
    }
  }
  &__selected {
    font-size: math.div(14rem, 16);
    padding-inline: math.div(12rem, 16);
    padding-block: math.div(6rem, 16);
    display: inline-block;

    margin-block: 1.5rem math.div(28rem, 16);
    @include sm {
      font-size: math.div(15rem, 16);
      padding-inline: math.div(19.5rem, 16);
      margin-block: 2rem math.div(35rem, 16);
    }
  }
  &__thank h2 {
    font-size: math.div(24rem, 16);
    letter-spacing: 0.01em;
    padding-bottom: math.div(12rem, 16);
    @include sm {
      font-size: math.div(28rem, 16);
      padding-bottom: math.div(11rem, 16);
    }
  }
  &__thank p {
    font-size: math.div(14rem, 16);
    line-height: 150%;
    @include sm {
      font-size: math.div(15rem, 16);
    }
  }
}
